#content {

    height: 50%;
    width: 50%;

}

#container {

    height: 1200px;
    width: 100%;

}

html {

    background-color: #222222;

}

header {

    height: 30px;
    width: 100%;

}

h1 {

    font-size: 50px;
    margin-bottom: 40px;

}

td {

    margin-left: 20px;
    text-align: center;
    width: 10%;
    height: 100%;
    border-left: solid orangered;

}

table {

    width: 100%;
    height: 20%;

}

a:link {

    color: orangered;
    text-decoration: none;
    height: 30px;
    width: 100%;

}

a:visited {

    color: orangered;
    text-decoration: none;

}

td:hover > a{

    color: #222222;
    transition: color ease-in-out 1s;

}

td:hover {

    background-color: orangered;
    transition: background-color ease-in-out 1s;

}

h2 {

    color: orangered;
    text-align: center;

}

#player {
   
    margin-right: 1%;

}

#player2 {

    margin-left: 40%;

}

#player3 {

    margin-left: 40%;

}


